<main>
    <div class ="gallery">
       <div class="container gallery-container">
        <ul class="gallery__list"></ul>
      </div>
    </div>
  
  <div class="modal">
  
 
<div class='modal__content'>
  <button type='button' class='modal__button' data-action='close-modal'></button>
  
  <div class='modal-section'>
    <picture class='modal-img-section'>
      <img class='modal-img' src="./images/modalcard/modal-photo-desktop.png" alt="logo-event-booster"/>
    </picture>
        <a>
            <img src="./images/modalcard/modal-photo@2.png" srcset="./images/modalcard/modal-photo.png" alt="logo-event-booster">
        </a>
   
    <div class='modal-container-info'>
      <div class='modal-container'>
        <h3 class='modal-header'>INFO</h3>
          <p class='modal-text-info'></p>
      </div>
      
      <div class='modal-container'>
        <h3 class='modal-header'>WHEN</h3>
        <p class='modal-text'></p>
        <p class='modal-text'></p>
      </div>
      
      <div class='modal-container'>
        <h3 class='modal-header'>WHERE</h3>
        <p class='modal-text'></p>
        <p class='modal-text'></p>
      </div>
      
      <div class='modal-container'>
        <h3 class='modal-header'>WHO</h3>
        <p class='modal-text'></p>
      </div>
      
      <div class='modal-container'>
        <h3 class='modal-header'>PRICE</h3>
        <p class='modal-text wrapper-price'><img class='jpg-ticket' src="./images/modalcard/ticketcode.jpg" alt="price" />
        </p>
          <button type='button' class='modal-btn-buy'>BUY TICKETS</button>
        <div class='jpg-ticket'>
            <p class='modal-text wrapper-price'>
              <img class='jpg-ticket' src="./images/modalcard/ticketcode.jpg" alt="price" />
              </p>
        </div>
            <button type='button' class='modal-btn-buy'>BUY TICKETS</button>
      </div>
      <button type='button' class='modal-btn-more' data-author='authorName'>MORE FROM THIS
        AUTHOR</button>
      </div>
    </div>
  </div>  
</div>
  
    <div class="pagination"></div>
  
</main>
