<main> 
    <div class="gallery"> 
        <div class="container gallery-container"> 
            <ul class="gallery__list"></ul> 
        </div> 
    </div> 
            
    <div class="modal"> 
                <div class="modal__content"> 
                    <button type="button" class="modal__button" data-action="close-modal"></button> 
                    
                        <div class="modal-section"> 
                            
                            <picture class="modal-circle-img-section"> 
                                <img src="/JS-team-projekt-grupa-4/modal-photo-desktop.b4d351e4.png" srcset="/JS-team-projekt-grupa-4/modal-photo-tablet.4641182b.png" alt="logo-event-booster">
                            </picture>
        
                            <picture class='modal-img-section'>
                            <img src=" .="" images="" modal="" modal-photo-desktop.png"="" ticket2.jpg"=""> 
                            <p></p> 
                
                            <button type="button" class="modal-btn-buy">BUY TICKETS</button> 
                            <div class="svg-ticket"> 
                            <p class="modal-text wrapper-price"> <img class="jpg-ticket" src="/JS-team-projekt-grupa-4/ticket2.9bb166ff.jpg" alt="price"> </p> 
                
                        </div> 
            
            
                    <button type="button" class="modal-btn-buy">BUY TICKETS</button>

                            </picture>
                </div> 
                    
                    
                    <button type="button" class="modal-btn-more" data-author="authorName">MORE FROM THIS AUTHOR
                    </button> 
                </div> 
    </div> 

    <div class="pagination"></div> 

</main> 



